h3,
p {
  text-align: center;
}

.subtitleWhite {
  width: 60%;
  margin-left: 50%;
  margin-bottom: 50px;
  transform: translate(-50%, 50%);
  color: white;
}

.line {
  border-top: 3.5px solid white;
  height: 10px;
  width: 150px;
  padding: 0;
  margin: 50px auto 0 auto;
}

.bgBlue {
  background-color: #16213e;
  margin: 5vh auto 0 auto;
  padding-top: 30px;
  padding-bottom: 70px;
  color: white;
}

.containerItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  
  padding: 30px 0;
  font-size: 0.8rem;
  margin: 0 auto;
}

.divItem{
padding: 10px auto;
margin-top: 10px;
width: 100%;
}

.divItem li {
  list-style: none;
  height: 25px;
  font-size: 0.8rem;
  font-weight: 700;
}


.containerItems a:link, .containerItems a:visited  {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
}

.containerItems a:hover  {
  color: #D2001A;
  transition: 0.5s;
}

@media only screen and (min-width: 624px) {
  .containerItems {
    flex-direction: row;
    max-width: 600px;
  }
  .divItem{
    width: 32%;
    }
}