.subtitleRed{
    width: 60%;
    margin-left: 50%;
    margin-bottom: 50px;
    transform: translate(-50%, 50%);
    color: #D2001A;
}

.line {
    border-top: 3.5px solid #D2001A;
    height: 10px;
    width: 150px;
    padding: 0;
    margin: 50px auto 0 auto;
  }

.pSection{
    margin: 40px auto;
    max-width: 700px;
  }

.section{
    margin: 5vh auto 8vh auto;
}

.pilares{
  text-align: left;
  padding-left: 50px;
  line-height: 25px;
  font-weight: 600;
  font-style: italic;

}

