.subtitleRed{
    width: 60%;
    margin-left: 50%;
    margin-bottom: 50px;
    transform: translate(-50%, 50%);
    color: #D2001A;
}

.line {
    border-top: 3.5px solid #D2001A;
    height: 10px;
    width: 150px;
    padding: 0;
    margin: 50px auto 0 auto;
  }

.pSection{
    margin: 40px auto;
    max-width: 550px;
  }

.section{
    margin: 5vh auto 8vh auto;
}

.pilaresImg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  line-height: 25px;
  font-weight: 500;
  
}

.pilares li{
  font-style: italic;
}

.imgAbout{
  width: 100%;
}

@media only screen and (min-width: 767px) {

  .pilaresImg{
    flex-direction: row;
    text-align: left;
  }
  .pilares{
    order: 5;
    
    padding-left: 25px;
  }

  .imgAbout{
    
    max-width: 300px;
  }
}


